<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anky.xutils" >
    <application>
        <activity
            android:name=".PermissionUtils$PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:multiprocess="true"
            android:theme="@style/ActivityTranslucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

    </application>
</manifest>
